*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
   
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

    background-image: url(assets/landscape-alpine-mountains-landscape-5k-1k.jpg);

    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    
}

.watch-face {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff7e5f, #feb47b);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border: 10px solid #333; /* Add border here */
}

.time-display {
    font-size: 2em;
    color: #fff;
}

.controls {
    margin-top: 20px;
}

.controls button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.controls button:hover {
    background-color: #555;
}

.laps {
    margin-top: 20px;
    text-align: left;
    max-width: 250px;
    margin: 20px auto 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.laps div {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.laps div:last-child {
    border-bottom: none;
}
